absl-py==2.1.0
accelerate==1.1.1
aiofiles==23.2.1
aiohappyeyeballs==2.4.4
aiohttp==3.11.11
aiosignal==1.3.2
alembic==1.13.3
altair==5.4.1
aniso8601==9.0.1
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyascii==0.3.2
anyio==4.6.0
appdirs==1.4.4
asgiref==3.8.1
asttokens==3.0.0
async-timeout==4.0.3
attrs==25.1.0
audioread==3.0.1
auth0-python==4.8.0
av==13.1.0
babel==2.16.0
backoff==2.2.1
bangla==0.0.2
bcrypt==4.2.1
beautifulsoup4==4.13.0
bing-image-downloader==1.1.2
blinker==1.9.0
blis==1.2.0
bnnumerizer==0.0.2
bnunicodenormalizer==0.1.7
build==1.2.2.post1
cachetools==5.5.0
catalogue==2.0.10
certifi==2024.12.14
cffi==1.17.1
charset-normalizer==3.4.0
chroma-hnswlib==0.7.6
chromadb==0.5.23
click==8.1.8
clip @ https://github.com/openai/CLIP/archive/d50d76daa670286dd6cacf3bcd80b5e4823fc8e1.zip#sha256=b5842c25da441d6c581b53a5c60e0c2127ebafe0f746f8e15561a006c6c3be6a
cloudpathlib==0.20.0
cloudpickle==3.0.0
cohere==5.13.11
coloredlogs==15.0.1
colorlog==6.8.2
confection==0.1.5
contourpy==1.2.1
controlnet-aux==0.0.9
coqpit==0.0.17
crewai==0.100.0
crewai-tools==0.33.0
cryptography==44.0.0
cycler==0.12.1
cymem==2.0.11
Cython==3.0.11
databricks-sdk==0.34.0
dataclasses-json==0.6.7
dateparser==1.1.8
decorator==5.1.1
decord==0.6.0
Deprecated==1.2.14
deprecation==2.1.0
diffusers==0.31.0
distro==1.9.0
docker==7.1.0
docopt==0.6.2
docstring_parser==0.16
durationpy==0.9
einops==0.8.0
embedchain==0.1.126
encodec==0.1.1
et_xmlfile==2.0.0
exceptiongroup==1.2.2
executing==2.2.0
facenet-pytorch==2.6.0
fastapi==0.115.8
fastavro==1.10.0
ffmpeg-python==0.2.0
ffmpy==0.4.0
filelock==3.16.1
Flask==3.0.3
flatbuffers==24.12.23
fonttools==4.54.1
frozenlist==1.5.0
fsspec==2024.9.0
ftfy==6.3.1
future==1.0.0
g2pkk==0.1.2
gitdb==4.0.11
GitPython==3.1.43
google-api-core==2.24.1
google-auth==2.35.0
google-cloud-aiplatform==1.79.0
google-cloud-bigquery==3.29.0
google-cloud-core==2.4.1
google-cloud-resource-manager==1.14.0
google-cloud-storage==2.19.0
google-crc32c==1.6.0
google-resumable-media==2.7.2
googleapis-common-protos==1.66.0
gptcache==0.1.44
gradio==5.6.0
gradio_client==1.4.3
graphene==3.3
graphql-core==3.2.4
graphql-relay==3.2.0
greenlet==3.1.1
grpc-google-iam-v1==0.14.0
grpcio==1.70.0
grpcio-status==1.70.0
grpcio-tools==1.70.0
gruut==2.2.3
gruut-ipa==0.13.0
gruut_lang_de==2.0.1
gruut_lang_en==2.0.1
gruut_lang_es==2.0.1
gruut_lang_fr==2.0.2
gunicorn==23.0.0
h11==0.14.0
h2==4.2.0
hangul-romanize==0.1.0
hpack==4.1.0
httpcore==1.0.6
httptools==0.6.4
httpx==0.27.2
httpx-sse==0.4.0
huggingface-hub==0.28.1
humanfriendly==10.0
hyperframe==6.1.0
idna==3.10
imageio==2.36.0
imageio-ffmpeg==0.5.1
importlib_metadata==8.4.0
importlib_resources==6.4.5
inflect==7.5.0
instructor==1.7.2
ipython==8.31.0
itsdangerous==2.2.0
jamo==0.4.1
jax==0.5.0
jaxlib==0.5.0
jedi==0.19.2
jieba==0.42.1
Jinja2==3.1.4
jiter==0.8.2
joblib==1.4.2
json5==0.10.0
json_repair==0.35.0
jsonlines==1.2.0
jsonpatch==1.33
jsonpickle==4.0.1
jsonpointer==3.0.0
jsonref==1.1.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
kiwisolver==1.4.7
kubernetes==32.0.0
lancedb==0.18.0
langchain==0.3.17
langchain-cohere==0.3.5
langchain-community==0.3.16
langchain-core==0.3.33
langchain-experimental==0.3.4
langchain-openai==0.2.14
langchain-text-splitters==0.3.5
langcodes==3.5.0
langsmith==0.1.147
language_data==1.3.0
lazy_loader==0.4
librosa==0.10.0
lightning-utilities==0.11.9
litellm==1.57.4
llvmlite==0.43.0
Mako==1.3.8
marisa-trie==1.2.1
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.5
marshmallow==3.26.0
matplotlib==3.8.4
matplotlib-inline==0.1.7
mdurl==0.1.2
mediapipe==0.10.20
mem0ai==0.1.48
ml_dtypes==0.5.1
mlflow==2.18.0
mlflow-skinny==2.18.0
mmh3==5.1.0
monotonic==1.6
moondream==0.0.5
more-itertools==10.6.0
moviepy==1.0.3
mpmath==1.3.0
msgpack==1.1.0
multidict==6.1.0
murmurhash==1.0.12
mypy-extensions==1.0.0
narwhals==1.9.1
networkx==3.4.2
nltk==3.9.1
nodeenv==1.9.1
num2words==0.5.14
numba==0.60.0
numpy==1.22.0
nvidia-cublas-cu12==12.4.5.8
nvidia-cuda-cupti-cu12==12.4.127
nvidia-cuda-nvrtc-cu12==12.4.127
nvidia-cuda-runtime-cu12==12.4.127
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu12==11.2.1.3
nvidia-curand-cu12==10.3.5.147
nvidia-cusolver-cu12==11.6.1.9
nvidia-cusparse-cu12==12.3.1.170
nvidia-nccl-cu12==2.21.5
nvidia-nvjitlink-cu12==12.4.127
nvidia-nvtx-cu12==12.4.127
oauthlib==3.2.2
omegaconf==2.3.0
onnx==1.17.0
onnxruntime==1.20.1
onnxruntime-gpu==1.20.1
open_clip_torch==2.29.0
openai==1.60.2
opencv-contrib-python==4.10.0.84
opencv-python==4.11.0.86
opencv-python-headless==4.11.0.86
openpyxl==3.1.5
opentelemetry-api==1.29.0
opentelemetry-exporter-otlp-proto-common==1.29.0
opentelemetry-exporter-otlp-proto-grpc==1.29.0
opentelemetry-exporter-otlp-proto-http==1.29.0
opentelemetry-instrumentation==0.50b0
opentelemetry-instrumentation-asgi==0.50b0
opentelemetry-instrumentation-fastapi==0.50b0
opentelemetry-proto==1.29.0
opentelemetry-sdk==1.29.0
opentelemetry-semantic-conventions==0.50b0
opentelemetry-util-http==0.50b0
opt_einsum==3.4.0
optuna==4.0.0
orjson==3.10.7
overrides==7.7.0
packaging==24.1
pandas==1.5.3
parso==0.8.4
pdfminer.six==20231228
pdfplumber==0.11.5
pexpect==4.9.0
pillow==11.1.0
platformdirs==4.3.6
pooch==1.8.2
portalocker==2.10.1
posthog==3.11.0
preshed==3.0.9
proglog==0.1.10
prompt_toolkit==3.0.50
propcache==0.2.1
proto-plus==1.26.0
protobuf==5.29.3
psutil==6.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
pyarrow==17.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser==2.22
pydantic==2.9.2
pydantic-settings==2.7.1
pydantic_core==2.23.4
pydub==0.25.1
Pygments==2.18.0
PyJWT==2.10.1
pylance==0.22.0
pynndescent==0.5.13
pyparsing==3.2.1
pypdf==5.2.0
pypdfium2==4.30.1
PyPika==0.48.9
pypinyin==0.53.0
pyproject_hooks==1.2.0
pyright==1.1.393
pysbd==0.3.4
python-crfsuite==0.9.11
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-multipart==0.0.12
pytube==15.0.0
pytz==2024.2
pyvips==2.2.3
pyvips-binary==8.16.0
pyvis==0.3.2
PyYAML==6.0.2
qdrant-client==1.13.2
referencing==0.36.2
regex==2024.9.11
requests==2.32.3
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rich==13.9.2
rpds-py==0.22.3
rsa==4.9
ruff==0.6.9
safehttpx==0.1.6
safetensors==0.4.5
scenedetect==0.6.5.2
schema==0.7.7
scikit-image==0.24.0
scikit-learn==1.5.2
scipy==1.11.4
semantic-version==2.10.0
sentencepiece==0.2.0
shapely==2.0.7
shellingham==1.5.4
six==1.17.0
smart-open==7.1.0
smmap==5.0.1
sniffio==1.3.1
sounddevice==0.5.1
soundfile==0.13.1
soupsieve==2.6
soxr==0.5.0.post1
spacy==3.8.4
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SQLAlchemy==2.0.35
sqlparse==0.5.1
srsly==2.5.1
stack-data==0.6.3
starlette==0.45.3
SudachiDict-core==20250129
SudachiPy==0.6.10
sympy==1.13.3
tabulate==0.9.0
tenacity==9.0.0
tensorboard==2.18.0
tensorboard-data-server==0.7.2
thinc==8.3.4
threadpoolctl==3.5.0
tifffile==2025.1.10
tiktoken==0.7.0
timm==0.6.7
tokenizers==0.20.3
tomli==2.2.1
tomli_w==1.2.0
tomlkit==0.12.0
torch==2.5.1+cu124
torchao==0.9.0.dev20250129+cu124
torchaudio==2.5.1+cu124
torchdiffeq==0.2.5
torchmetrics==1.6.1
torchsde==0.2.6
torchtyping==0.1.5
torchvision==0.20.1+cu124
tqdm==4.67.1
trainer==0.0.36
traitlets==5.14.3
trampoline==0.1.2
transformers==4.48.1
triton==3.1.0
TTS==0.22.0
typeguard==4.4.1
typer==0.12.5
types-requests==2.32.0.20241016
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2024.2
tzlocal==5.2
umap-learn==0.5.7
Unidecode==1.3.8
urllib3==2.2.3
uv==0.5.26
uvicorn==0.31.0
uvloop==0.21.0
wasabi==1.1.3
watchfiles==1.0.4
wcwidth==0.2.13
weasel==0.4.1
websocket-client==1.8.0
websockets==11.0.3
Werkzeug==3.0.4
wrapt==1.16.0
xformers==0.0.28.post3
yarl==1.18.3
zipp==3.21.0
